@use 'reset';
@use 'variables';

@font-face {
	font-family: 'Handletter';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

html {
	font-family:
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		'Helvetica Neue',
		'Segoe UI',
		'Apple SD Gothic Neo',
		'Noto Sans KR',
		'Malgun Gothic',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		sans-serif;

	height: 100%;
	background-color: $color_white;
}

body {
	height: 100%;
}

#root {
	height: 100%;
}

@font-face {
	font-family: Pretendard;
	src:
		url('/fonts/Pretendard-Bold.woff2') format('woff2'),
		url('/fonts/Pretendard-Bold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: Pretendard;
	src:
		url('/fonts/Pretendard-Regular.woff2') format('woff2'),
		url('/fonts/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: Poppins;
	src:
		url('/fonts/subset-Poppins-Bold.woff2') format('woff2'),
		url('/fonts/subset-Poppins-Bold.woff') format('woff');
	font-weight: 700;
}
